@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/* 要素 フォントサイズ・マージン・パディングをリセット */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

/* 新規追加要素をブロック要素化 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ulのマーカー非表示 */
ol, ul {
  list-style: none;
}

/* 引用符の非表示 */
blockquote, q {
  quotes: none;
}

/* blockquote要素、q要素の前後にコンテンツ非表示 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* フォントサイズ　リセット フォントの縦方向 ベースライン揃え 点線削除 */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none;
}

a:hover, a:active {
  text-decoration: none;
  /* opacity: 0.75; */
  /* filter: alpha(opacity=75); */
}

a,
a * {
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
  -webkit-backface-visibility: hidden;
  /* 追加 */
  backface-visibility: hidden;
  /* 追加 */
}

/* ins要素 デフォルトセット 色を変える場合はここで変更 */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* mark要素 デフォルトセット 色やフォントスタイルを変える場合はここで変更 */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* テキスト 打ち消し線 */
del {
  text-decoration: line-through;
}

/* IE　デフォルトで点線を下線表示設定　下線設定 マウスオーバー時 ヘルプカーソル表示可 */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/*　隣接するセルのボーダーを重ねて表示　*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 水平罫線デフォルトリセット */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* 縦方向の揃え 中央揃え */
input,
select {
  vertical-align: middle;
}

/* 画像を縦に並べた時に余白0 */
img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  /* width: 100%; */
  max-width: 100%;
  height: auto;
}

/*box-sizingを全ブラウザに対応*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
}

br {
  line-height: inherit;
}

@media screen and (min-width: 768px) {
.pcNodisplay {
display: none !important;
}
}

@media screen and (max-width: 768px),print  {
.pcNodisplay {
display: block;
}
}

.pagetop{
    position: fixed;
    bottom: 15%;
    right: 0px!important;
}

.pagetop:hover{
    opacity: 0.85 ;
}

html{
    scroll-behavior: smooth;
}


.bottom_contact{
    position: fixed;
    bottom: 0px;
}
.bottom_contact:hover{
    opacity: 0.95 ;
}


.btn_top{
    width: 40px;
    height: auto;
    cursor: pointer;
}
.btn_contact_sp{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.side_contact{
    position: fixed;
    bottom: 40%;
    right: 0px;
}
.side_contact:hover{
    opacity: 0.95 ;
}


.btn_contact_pc{
    width: 120px;
    height: auto;
    cursor: pointer;
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
.xl_contain {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
    /*max-width: 1200px; */
}

@media screen and (max-width: 1200px) {
  .xl_contain {
    padding: 0 1rem;
  }
}

.lg_contain {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
}

@media screen and (max-width: 1000px) {
  .lg_contain {
    padding: 0 2rem;
  }
}

.md_contain {
  position: relative;
  width: 100%;
  padding: 0 0;
  margin: 0 auto;
  max-width: 768px;
}

@media screen and (max-width: 768px),print  {
  .md_contain {
    padding: 0 1rem;
  }
}

.sm_contain {
  position: relative;
  width: 100%;
  padding: 0 0;
  margin: 0 auto;
  max-width: 680px;
}

@media screen and (max-width: 680px) {
  .sm_contain {
    padding: 0 1rem;
  }
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/* 表示切り替え */
.sp_on {
  display: none !important;
}

@media screen and (max-width: 768px),print  {
  .pc_on {
    display: none !important;
  }
  .sp_on {
    display: block !important;
  }
}

/* LAZYLOAD SETTINGS */
.blurUp {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blurUp.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}


/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/* flex layout */
.flex_base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.flex_nml {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex_btw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.flex_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex_around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex_evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* float layout */
.float_left {
  float: left;
  text-align: center;
  line-height: 2;
}

.float_right {
  float: right;
  text-align: center;
  line-height: 2;
}

.t_left {
  text-align: left;
}

.t_right {
  text-align: right;
}

.t_center {
  text-align: center;
}

/*--------------------------------------------------------------
    # メインコンテンツ
--------------------------------------------------------------*/
html {
  font-size: 62.5%;
  line-height: 1.625;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
    
}

@media screen and (max-width: 768px),print  {
  html {
    font-size: 2.4vw;
  }
}

body {
  width: 100%;
  line-height: 1.75;
  color: #2f2f2f;
  font-family: 'Noto Sans JP', メイリオ, Meiryo, sans-serif;
}

#wrapper {
  overflow: hidden;
  position: relative;
}

#wrapper main {
  position: relative;
  padding-top: 17rem;
}

@media screen and (max-width: 768px),print  {
  #wrapper main {
    padding-top: 12vw;
  }
}

/*--------------------------------------------------------------
    # text & background style
--------------------------------------------------------------*/
.nrl14 {
  font-size: 1.4rem;
  line-height: 1.75;
}

.nrl15 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.nrl16 {
  font-size: 1.6rem;
  line-height: 1.75;
}

.bg_blue {
  background: #222c80;
}

.bg_white {
  background: #fff;
}

.bg_wblue {
    background: #5fbbd0;
}
.bg_black {
    background: #000;
}

.t_white {
  color: #fff;
}

.t_orange {
  color: #f8634c;
}

.t_blue {
    color: #222c80;
}

.t_wblue {
    color: #5fbbd0;
}

.f_wblue {
    fill:#5fbbd0;
}
.lh9{
    line-height: 9;
}

.v_line {
    border-left: thick solid #5fbbd0;
    }

.f_w500{
    font-weight: 500;
}
.f_w600{
    font-weight: 600;
}
.f_w700{
    font-weight: 700;
}

@media screen and (max-width: 768px),print  {
  .section_title {
    font-size: 1.7rem;
  }
}

.lg_ft {
  font-weight: 700;
  font-size: 4.7rem;
}

@media screen and (max-width: 768px),print  {
  .lg_ft {
    font-size: 2.3rem;
  }
}

.md_ft {
  font-weight: 700;
  font-size: 3.7rem;
}

@media screen and (max-width: 768px),print  {
  .md_ft {
    font-size: 2.5rem;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@-webkit-keyframes stretch-animate {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  28% {
    -webkit-transform: scale(1.15, 0.85);
            transform: scale(1.15, 0.85);
  }
  50% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes stretch-animate {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  28% {
    -webkit-transform: scale(1.15, 0.85);
            transform: scale(1.15, 0.85);
  }
  50% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  33.33333% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  66.66667% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  33.33333% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  66.66667% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header {
  width: 100%;
  z-index: 10000;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /*	グローバナビ（スマホ用）- global navigator(smartphone)
    ---------------------------------*/
}

@media screen and (max-width: 768px),print  {
  header {
      height: 70px!important;
      position: fixed;
  }
}

header.over {
  -webkit-box-shadow: 0 5px 10px #0000002f;
          box-shadow: 0 5px 10px #0000002f;
}

header .header_menu .hd_top {
  width: 100%;
  padding: 1.2rem 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .header_menu .hd_top .hd_main_menu li {
  padding: 0 1rem;
  border-left: solid #fff 1px;
}

header .header_menu .hd_top .hd_main_menu li a {
  font-family: hirakaku3;
  font-size: 1.5rem;
  line-height: 1;
}

@media screen and (max-width: 1200px) {
  header .header_menu .hd_top p.nrl15 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  header .header_menu .hd_top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px),print  {
  header .header_menu .hd_top {
    display: none;
  }
}

header .header_menu .hd_layer {
  position: relative;
}

@media screen and (max-width: 768px),print  {
  header .sp_menu {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10000;
  }
}
/*

header .sp_menu a.tel_link {
  position: relative;
  display: inline-block;
  width: 15vw;
  height: 13vw;
  padding: 2.5vw 4vw;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
}

header .sp_menu a.tel_link img {
  width: 2.5rem;
}

header .sp_menu a.tel_link p {
  line-height: 1.2;
}

header .sp_menu a.tel_link::after {
  position: absolute;
  content: '';
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  top: 50%;
  height: 75%;
  width: 1px;
  background: #cccccc;
}

header .sp_menu .navToggle {
  display: none;
}

@media screen and (max-width: 768px),print  {
  header .sp_menu .navToggle {
    display: inline-block;
    position: relative;
    width: 15vw;
    height: 13vw;
    padding: 2.8vw 4vw;
    cursor: pointer;
    z-index: 10010;
  }
  header .sp_menu .navToggle div {
    position: relative;
  }
  header .sp_menu .navToggle span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background: #594b3c;
    left: 0;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    border-radius: 5px;
  }
  header .sp_menu .navToggle span:nth-child(1) {
    top: 0;
  }
  header .sp_menu .navToggle span:nth-child(2) {
    top: 8px;
  }
  header .sp_menu .navToggle span:nth-child(3) {
    top: 16px;
  }
  header .sp_menu .navToggle p {
    font-weight: 500;
    font-size: 2.2vw;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 1.2vw;
    left: 50%;
    word-break: keep-all;
  }
  header .sp_menu .navToggle::after {
    position: absolute;
    content: '';
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    top: 50%;
    height: 75%;
    width: 1px;
    background: #cccccc;
  }
}

header nav.sp-nav {
  display: none;
}

@media screen and (max-width: 768px),print  {
  header nav.sp-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    top: 0;
    left: 0;
    background: #f8f7f1;
    z-index: 9000;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
  }
  header nav.sp-nav a {
    display: inline-block;
  }
  header nav.sp-nav a* {
    -webkit-transition: 0s;
    transition: 0s;
  }
  header nav.sp-nav .logo {
    width: 100%;
    padding: 13vw 0 0;
  }
  header nav.sp-nav .logo img {
    margin: 0;
    text-align: left;
  }
  header nav.sp-nav ul.l_menu {
    display: block;
    border-top: solid #a89c90 1px;
  }
  header nav.sp-nav ul.l_menu li.menu-li {
    position: relative;
    background: #f8f7f1;
    border-bottom: solid #a89c90 1px;
  }
  header nav.sp-nav ul.l_menu li.menu-li span {
    padding: 0 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 4.5rem;
  }
  header nav.sp-nav ul.l_menu li.menu-li .sub_li_btn {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 12vw;
    height: 4.5rem;
  }
  header nav.sp-nav ul.l_menu li.menu-li .sub_li_btn::after {
    position: absolute;
    content: "\f067";
    font-family: "Font Awesome 5 free";
    font-size: 3vw;
    font-weight: 900;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  header nav.sp-nav ul.l_menu li.menu-li .sub_li_btn.open::after {
    position: absolute;
    content: "\f068";
    font-family: "Font Awesome 5 free";
    font-size: 3vw;
    font-weight: 900;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  header nav.sp-nav ul.l_menu li.menu-li ul.s_menu {
    display: none;
    border-top: solid #a89c90 1px;
  }
  header nav.sp-nav ul.l_menu li.menu-li ul.s_menu li.s_menu-li {
    background: #fff;
    border-bottom: solid #a89c90 1px;
  }
  header nav.sp-nav ul.l_menu li.menu-li ul.s_menu li.s_menu-li span {
    font-weight: 300;
    font-size: 1.3rem;
  }
  header nav.sp-nav ul.l_menu li.menu-li ul.s_menu li.s_menu-li:last-child {
    border-bottom: none;
  }
  header nav.sp-nav ul.l_menu li.menu-li ul.s_menu li.s_menu-li ul.ss_menu {
    display: none;
    border-top: solid #a89c90 1px;
  }
  header nav.sp-nav ul.l_menu li.menu-li ul.s_menu li.s_menu-li ul.ss_menu li.ss_menu-li {
    background: #fff;
    border-bottom: solid #a89c90 1px;
  }
  header nav.sp-nav ul.l_menu li.menu-li ul.s_menu li.s_menu-li ul.ss_menu li.ss_menu-li span {
    padding-left: 6rem;
    font-weight: 300;
    font-size: 1.3rem;
  }
  header nav.sp-nav ul.l_menu li.menu-li ul.s_menu li.s_menu-li ul.ss_menu li.ss_menu-li:last-child {
    border-bottom: none;
  }
  header nav.sp-nav ul.l_menu .contact-li {
    padding: 1rem 2rem 5rem;
    background: #f8f7f1;
  }
  header nav.sp-nav ul.l_menu .contact-li .ham_logo {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  header nav.sp-nav ul.l_menu .contact-li .ham_logo img {
    width: 40vw;
  }
  header nav.sp-nav ul.l_menu .contact-li .ham_logo .fb_link {
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    top: 50%;
    width: 3rem;
  }
  header nav.sp-nav ul.l_menu .contact-li .ham_tel {
    width: 100%;
  }
  header nav.sp-nav ul.l_menu .contact-li .ham_tel p {
    display: inline-block;
    margin-right: 2rem;
    font-weight: 500;
    font-size: 2.8rem;
  }
}

header.open nav.sp-nav {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

header.open .sp_menu .navToggle span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

header.open .sp_menu .navToggle span:nth-child(2) {
  width: 0;
  left: 50%;
}

header.open .sp_menu .navToggle span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

footer {
  position: relative;
}

footer .ft_topgrid {
  background: #f1f1f1;
  padding: 2rem 0;
}

footer .ft_topgrid ul.ft_menu li > a {
  text-decoration: underline;
  font-family: hirakaku3;
  font-size: 1.5rem;
}

footer .ft_topgrid ul.ft_menu li > a a:hover {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

@media screen and (max-width: 768px),print  {
  footer .ft_topgrid ul.ft_menu li > a {
    padding: 0 1rem;
  }
}

footer .ft_botgrid .lg_contain {
  padding: 4rem 0;
}

footer .ft_botgrid .lg_contain p.company_label {
  padding-bottom: 2rem;
  font-family: hirakaku6;
  font-size: 2.2rem;
  line-height: 1.2;
}

footer .ft_botgrid .lg_contain p.nrl {
  font-size: 1.5rem;
  line-height: 2.2rem;
}

footer .ft-copyright {
  padding: 1rem 0;
  font-family: hirakaku3;
  font-size: 1.5rem;
}

*/

/*----------------------------------------
220701変更
----------------------------------------*/
/* flexboxで中央配置 */
.wrap{
    margin: auto;
}

/* flexboxで中央配置 */
.wrap_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrapper main {
    position: relative;
    padding-top: 0rem!important;
    padding-bottom: 0rem!important;
}


/*text*/
.txt01 {
    font-size: 2.3rem;
    margin: 0rem auto 0rem;
    font-weight: 500;
    letter-spacing: 0.2rem; 
    font-family: Noto Sans JP;
}

@media screen and (max-width: 768px),print  {
    .txt01 {
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        margin: 0rem auto 0rem;
        
    }
}

.txt02 {
    font-size: 1.6rem;
    margin: 0rem auto 0rem;
    line-height: 3rem;
    font-weight: 400;
    letter-spacing: 0.05rem; 
    font-family: Noto Sans JP;
}


@media screen and (max-width: 768px),print  {
    .txt02 {
        font-size:1.4rem;
        line-height: 2.4rem;
    }
}
/*margin*/
.mt1{margin-top: 1rem;}
.mt2{margin-top:2rem;}
.mt3{margin-top: 3rem;}
.mt4{margin-top: 4rem;}
.mt5{margin-top: 5rem;}
.mt8{margin-top: 8rem;}

.mb1{margin-bottom: 1rem;}
.mb2{margin-bottom: 2rem;}
.mb3{margin-bottom: 3rem;}
.mb4{margin-bottom: 4rem;}
.mb5{margin-bottom: 5rem;}
.mb8{margin-bottom: 8rem;}

/*title*/
section h3.section_title {
    position: relative;
    font-weight: 300;
    display: table;
    padding: 5rem 0 6rem;
    font-size: 4.7rem;
    font-family: "Courgette";  
    margin: 0 auto 0;
}

@media screen and (max-width: 768px),print {
    section h3.section_title {
        font-size: 4rem;
        vertical-align:bottom;
        padding-bottom: 3rem;
        padding-top: 8rem;
    }
}

section h3 div.section_subtitle {
    color: #2f2f2f;
    margin: -1rem auto 0rem;
    font-size: 1.2rem;
    font-family: "Courgette";
    letter-spacing:0.6rem;
    display: block;
}

@media screen and (max-width: 768px),print {
section h3 div.section_subtitle {
    margin: -1.5rem auto 0rem;
    font-size: 1.1rem;
    letter-spacing:0.4rem;
    display: block;
}
}
/*section*/
section{
    padding-bottom: 10rem;
}
@media screen and (max-width: 768px),print {
    section{
        padding-bottom: 8rem;
    }
}



/*----------------------------------------
header
----------------------------------------*/
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    align-items: center;
    width: 100%;
    max-height: 20vw;
    background: #fff;
}

svg#hd_logo {
    width: 35%;
    margin-left: 100px;
    display: inline-block;
    vertical-align: middle;
    fill: #5fbbd0;
}
.logo-txt {
    display: inline-block;
    position: absolute;
    left: 26rem;
    font-size: 1.2rem;
    white-space: nowrap;
    top:3.5rem;
}
@media screen and (max-width: 768px){
.logo-txt {
    position: absolute;
    left: 10px;
    top:5px;
    font-size: 5px;
    white-space: nowrap;
    margin-left: 0px;
}
}
.header_menu {
    width: 100%;
    border-bottom: none!important;
}
/*　画面サイズが768px以下はここを読み込む　*/
@media screen and (max-width: 768px){
    .header {
        height: 70px!important;
}
    svg#hd_logo {
        position: absolute;
        width: 25%;
        left: 0px;
        top: 25px;
        margin-left: 1.3rem;
        
        }
}

.flex_btw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: row;
}

/*----------------------------------------
button
----------------------------------------*/
.flex_btn{
    display: flex; /* flexbox */
    gap: 0px; /* 余白 */
    flex-wrap: nowrap;
}
@media screen and (max-width: 768px){
    .flex_btn {
        height: 70px!important;
    }
}

header .flex_btw .flex_btn{
    text-decoration: none;
    text-align: center;
    font-size:1.3rem;
    cursor: pointer;
    font-family: Noto Sans JP;
}
header .flex_btw .flex_btn p.pc_on{
    position: relative;
    top:  10px;
}

.header_icon{
    width: 30%;   
}
.flex-shrink-1 {
    flex-shrink: 0;
}

.line_link {
    background: #06c755;
    text-align: center;
    width: 140px;
    white-space: nowrap;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Noto Sans JP;
}


@media screen and (max-width: 768px),print {
    .line_link {
        width: 6rem;
    }
}
.mail_link {
    background: #a4cfaf;
    text-align: center;
    width: 140px;
    white-space: nowrap; 
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Noto Sans JP;
    
}

@media screen and (max-width: 768px),print {
    .mail_link {
        width: 6rem;
    
    }
}
@media screen and (max-width: 768px),print {
.header_icon{
    width: 60%;   
}
}


/*----------------------------------------
hamburger
----------------------------------------*/
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 100px;
    cursor: pointer;
    border: 0;
    text-align: center;
    padding: 10px;
    z-index: 10;
}
.hamburger__line {
    position: relative;
    top: 40px;
    width: 50%; 
    height: 2px;
    background: #5fbbd0;
}
button.hamburger{
    background: #fff;
}
/*三本線*/
@media screen and (max-width: 768px),print  {
.hamburger__line {
    position: relative;
    top: 1.8rem;
    width: 2rem;
    height: 1px;
    background: #5fbbd0;
    }   
}

.hamburger__line::before,
.hamburger__line::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #5fbbd0;
    transition: transform 0.5s;
}
.hamburger__line::before {
    top: -12px;
}
.hamburger__line::after {
    bottom: -12px;
}


 @media screen and (max-width: 768px),print  {
    .hamburger__line::before,
    .hamburger__line::after {
        position: absolute;
        content: "";
        display: block;
        width: 2rem;
        height: 1px;
    }
}

@media screen and (max-width: 768px),print  {
.hamburger__line::before {
    top: -10px;
}
.hamburger__line::after {
    bottom: -10px;
}
}


@media screen and (max-width: 768px),print {
    .hamburger {
        height: 8vw !important;
        width: 55px;
        padding: 1.2rem;
    }
    
}
/*OPEN時スタイル*/
.hamburger.is-open .hamburger__line{
    background: transparent;
}
.hamburger.is-open .hamburger__line::before {
    top: 0;
    transform: rotate(45deg);
}
.hamburger.is-open .hamburger__line::after {
    bottom: 0;
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px),print  {
    .is-open.hamburger{
            background:#5fbbd0;

        }
     
    .hamburger.is-open .hamburger__line::before{
        background: #fff; 
        width: 30px;
        height: 1.5px;
}
    .hamburger.is-open .hamburger__line::after{
        background: #fff; 
        width: 30px;
        height: 1.5px;
    }
}

/*----------------------------------------
gnav
----------------------------------------*/
.gnav {
    display: none;
    position: absolute;
    left: 0;
    top: 100px;
    left: :0px;
    width: 100%;
    height: 100px;
    background: #5fbbd0;
    color: #fff;
    -webkit-overflow-scrolling: touch; /*iOSで慣性スクロール有効化*/
}



.gnav._open {
    display: block;/* _open がついたら表示。classのつけ外しはJSで */
}
.gnav__list {
    display: flex; /* flexbox */
    flex-wrap: wrap; /* 折返し指定 */
    justify-content: center;
    align-items: center;
    height:10rem; /*高さ指定*/
    max-width:100%;
}

.gnav__link {
    display: block;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-family: Noto Sans JP;
}
.gnav__item {
    border-left: 1px solid #fff;
} 
header nav.gnav ul.gnav__list li:first-child {
    border-left: none;
}

@media screen and (max-width: 768px),print {
.gnav {
    display: none;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    height:100vh ;
    color: #fff;
    text-align: center;
    overflow-y: auto;
}

.gnav__list {
    display: flex; /* flexbox */
    flex-wrap: nowrap; /* 折返し指定 */
    justify-content: center;
    align-items: center;
    max-height:100%; /*高さ指定*/
    max-width:100%;
    flex-direction: column;
}
.gnav__item {
    position: relative;
    border-left: none;
    top:220px;
    font-size: 3rem;
    } 
    
 .gnav__link {
        display: block;  
     font-size: 2rem;
}
}
/*----------------------------------------
mv area
----------------------------------------*/
section.mv {
    padding-bottom: 0rem;
}

.mv_grid {
    display: grid; /*girdレイアウトにする*/
    gap: 0; /*隣接するアイテム間余白を20pxに設定*/
    grid-template-columns: 100px 1fr; /*2カラム*/
}

@media screen and (max-width: 768px),print  {
    .mv_grid {
        grid-template-columns: repeat(1,1fr); /*1カラム*/
    }
}

.flex_mv{
    display: flex;
    justify-content:flex-start;
}
.mv_area{
    max-width: 100%;/*親要素の幅指定*/
    position: relative;
}
.mv_img{
    /* 左下のみ角丸 */
    border-radius: 0 0 0 20px;
    height: 900px;
    width: 100%;
    object-fit:cover;
    margin-top: 100px;
    position: absolute;
    top:-300px;
    z-index: -1
}
@media screen and (max-width: 768px),print  {
  .mv_img__sp{
    border-radius: 0 0 0 20px;
    height: 300px;
    width: 100%;
    object-fit:cover;
    margin-top: 70px;
    position: relative
    
}
    
    
}
section.mv p.mv_area span.mv_txt1 {
    position: absolute;
    top: 120px;/*画像の上kからの配置位置*/
    left: 500px;
    margin: 0; /*余計な隙間を除く*/
    color:#5fbbd0;/*文字を白に*/
    background:rgba(255,255,255,0.6);/*背景色*/
    font-size: 2.2rem;
    line-height: 0.9;/*行高は1に*/
    padding: 3px 7px;/*文字周りの余白*/
    writing-mode: vertical-rl;
    font-family: Noto Sans JP;
    font-weight: 500;
    letter-spacing:0.5rem;
}
section.mv p.mv_area span.mv_txt2 {
    position: absolute;
    top: 120px;/*画像の上kからの配置位置*/
    left: 450px;
    margin: 0; /*余計な隙間を除く*/
    color:#5fbbd0;/*文字を白に*/
    background:rgba(255,255,255,0.6);/*背景色*/
    font-size: 2.2rem;
    line-height: 0.9;/*行高は1に*/
    padding: 3px 7px;/*文字周りの余白*/
    writing-mode: vertical-rl;
 font-family: Noto Sans JP;
    font-weight: 500;
    letter-spacing:0.5rem;
}
@media screen and (max-width: 768px),print  {
section.mv p.mv_area span.mv_txt1 {
    position: absolute;
    top: 16rem;/*画像の上kからの配置位置*/
    left: 17rem;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}
}
@media screen and (max-width: 768px),print  {
section.mv p.mv_area span.mv_txt2 {
    top: 16rem;/*画像の上kからの配置位置*/
    left: 14rem;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}
}
section.mv p.sns_area span.f_wblue.lh9::after{
    content: '';
    width: 1px;
    height: 100px;
    background: #5fbbd0;
    display: block;
    margin: 0px auto 25px;
}




.sns_area{
    max-width: 100px;/*親要素の幅指定*/
    margin: 30rem auto 10rem;
}




@media screen and (max-width: 768px),print  {
    .sns_area {
        width:0.8rem; 
        position:absolute;
    }
    .mv_area{
        left:0.8rem;
        max-height: 500px;
    }

}
.text-combine {
    writing-mode: vertical-rl;
    position: relative;
}


/*----------------------------------------
about_us tit
----------------------------------------*/
section.about_us h3.section_title {
    color: #5fbbd0;
}


/*----------------------------------------
flow
----------------------------------------*/
section.flow {
    background: url(../images/casestudy_bg.png) bottom center no-repeat,#f2f2ea;
    background-size: 100% auto;
}


section.flow h3.section_title {
    color: #5fbbd0;
    padding-top: 12rem;
}
@media screen and (max-width: 768px),print  {
section.flow h3.section_title {
    padding-top: 5rem;
}
}

/*----------------------------------------
flow_Card
----------------------------------------*/
card-img{
    display: table-cell;
    vertical-align: middle;
}

.cardList {
     display: grid;/*girdレイアウトにする*/
    row-gap: 0px;
    column-gap:20px;
    
}
@media screen and (max-width: 768px),print {
    .cardList {
        grid-template-columns: repeat(2,1fr); /*均等2カラム指定*/
        
    }
}
@media screen and (min-width: 769px),print {
    .cardList {
        grid-template-columns: repeat(4,1fr); /*均等4カラム指定*/
        margin-bottom: 12rem;
    }
}
.card {
    display: flex;
    background-color: #ffffff;
    justify-content:center;
    align-items:center;
    border-radius: 12px;
    color: inherit;
    margin: 0rem auto 0rem;
    min-height: 220px;
}

.card_02 {
    display: flex;
    background-color: #5fbbd0;
    justify-content:center;
    align-items:center;
    border-radius: 12px;
    color: #ffffff;
    margin: 0rem auto 0rem;
    min-height: 220px;
}


@media screen and (max-width: 768px),print {
    .card {
        min-height: 190px;
    }
}
@media screen and (max-width: 768px),print {
    .card_02 {
        min-height: 190px;
    }
}

section.flow ul.cardList li.cardList__item::before {
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 9999px;
    background: #5fbbd0;
    box-sizing: border-box;
    content: "»";
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    position: relative;
    right:-20px; /*左からの位置指定*/
    top:40px;
    display: inline-block;
}
@media screen and (max-width: 768px),print {
    section.flow ul.cardList li.cardList__item::before {
        width: 2rem; 
        height: 2rem;
        border-radius: 9999px;
        content: "»";
        font-size: 1rem;
        text-align: center;
        position: relative;
        right:-20px; /*左からの位置指定*/
        top:30px;
    }
}



section.flow ul.cardList li.cardList__item:first-child:before {
    content: '1';
}

section.flow ul.cardList li.cardList__item:nth-child(2):before {
    content: '2';
}

section.flow ul.cardList li.cardList__item:nth-child(3):before {
    content: '3';
}

section.flow ul.cardList li.cardList__item:nth-child(4):before {
    content: '4';
}

section.flow ul.cardList li.cardList__item:nth-child(5):before {
    content: '5';
}

section.flow ul.cardList li.cardList__item:nth-child(6):before {
    content: '6';
}
section.flow ul.cardList li.cardList__item:nth-child(7):before {
    color: #5fbbd0;
}
section.flow ul.cardList li.cardList__item:last-child:before {
    content: '7';
}

.card img {
    display: block;
    margin: 0.5rem auto 1rem;
}
.card__txt {
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 1.6rem;
    font-weight: 600;
}
@media screen and (max-width: 768px),print {
    .card__txt {
        font-size: 1.5rem;
        flex-wrap: nowrap;
        font-weight: 500;
    }
}

.card__txt02 {
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 3rem;
    font-weight: 600;
}
@media screen and (max-width: 768px),print {
    .card__txt02 {
        font-size: 2.5rem;
        flex-wrap: nowrap;
        font-weight: 600;
    }
}
@media screen and (max-width: 768px),print {
    .card img {
        min-width: 110%;
        margin-bottom:0.5rem;
    }
}

/*----------------------------------------
case study
----------------------------------------*/
section.casestudy {
    background: #5fbbd0;
}
section.casestudy h3.section_title {
    color: #ffffff;
}
@media screen and (max-width: 768px),print {
section.casestudy h3.section_title {
    padding-top: 4rem;
}
}
section.casestudy h3.section_title div.section_subtitle {
    color: #ffffff;
}
/*----------------------------------------
casestudy_cardList2
----------------------------------------*/


.cardList2 {
    display: grid; /*girdレイアウトにする*/
    gap: 20px; /*隣接するアイテム間余白を20pxに設定*/
    margin: 0rem auto 5rem;
}

@media screen and (max-width: 768px),print  {
    .cardList2 {
        grid-template-columns: repeat(1,1fr); /*1カラム*/
        margin-bottom: 0rem;
    }
}
@media screen and (min-width: 769px),print {
    .cardList2 {
        grid-template-columns:repeat(2,1fr);  /*2カラム*/
    }
}

.card2 {
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 20px;
    flex-direction:column;
    color: inherit;
    margin: 0rem auto 0rem;
    background-color: #ffffff;
    height: 347px;
    margin: 1.5rem auto;
}

@media screen and (max-width: 768px),print {
    .card2 {
        margin: 1rem auto;
        height: auto;
    }
}

@media screen and (max-width: 768px),print {
    .grid__item01 {order: 1;}
    .grid__item02 { order: 3;}
    .grid__item03 {order: 2;}
    .grid__item04 {order: 4;}
    }


section.casestudy div.card2 img {
    height: 290px;
    width: auto;
    object-fit:fill;
    top:0;
    border-radius: 20px 20px 0 0;
}

@media screen and (max-width: 768px),print {
    section.casestudy div.card2 img {
        height: auto;
         width: 700px;
        object-fit:cover;
        top:0;
        border-radius: 20px 20px 0 0;
    }
}

.card__txt2 {
    font-family: Noto Sans JP;
    font-size: 1.6rem;
    padding:2rem 1.5rem 6rem 1.5rem;
}

@media screen and (max-width: 768px),print {
.card__txt2 {
    font-family: Noto Sans JP;
    font-size: 1.4rem;
    padding:2rem;
}
}




/*----------------------------------------
reason
----------------------------------------*/
section.reason {
    background: url(../images/reason_img.jpg) top center no-repeat;
    background-size: 100% 400px;
}
section.reason h3.section_title {
    padding:12rem;
    color: #ffffff;
}
@media screen and (max-width: 768px),print  {
section.reason h3.section_title {
    padding:5rem;
}
}


section.reason h3.section_title div.section_subtitle {
    color: #ffffff;
}

@media screen and (max-width: 768px),print  {
    section.reason {
        background: url(../images/reason_img.jpg) top center no-repeat;
        background-size: 100% 22rem;
    }
}

/*----------------------------------------
reason_cardList3
----------------------------------------*/
.cardList3 {
    display: grid; /*girdレイアウトにする*/
    gap: 20px; /*隣接するアイテム間余白を20pxに設定*/
    margin: 15rem auto 5rem;
}

@media screen and (max-width: 768px),print  {
    .cardList3 {
        grid-template-columns: repeat(1,1fr); /*1カラム*/
        margin-bottom: 0rem;
        margin: 7rem auto 5rem;
    }
}
@media screen and (min-width: 769px),print {
    .cardList3 {
        grid-template-columns:40% 60%; /*2カラム*/
    }
}

.card__txt3 {
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 0.2rem; 
    font-family: Noto Sans JP;
}
@media screen and (max-width: 768px),print {
    .card__txt3 {
        font-size: 1.8rem;
        margin: auto;
        font-weight: 600;
        letter-spacing: 0rem; 
    }
}

.card__txt3_2 {
    font-family: Noto Sans JP;
    font-size: 1.6rem;
    margin: 0rem auto 0rem;
    line-height: 3rem;
    letter-spacing: 0.05rem; 
    font-feature-settings:"palt";
}
@media screen and (max-width: 768px),print {
    .card__txt3_2 {
        margin-top: 30px;
    }
}
/*----------------------------------------
faq
----------------------------------------*/
section.faq h3.section_title {
color: #5fbbd0;
}

section.faq h3.section_title div.section_subtitle{
    color: #2f2f2f;
    }

section.faq{
    background: #f1f1f1;
}


section.faq .lg_contain ul.faq_block {
    width: 100%;
    margin-bottom: 1.5rem;
}


section.faq .lg_contain ul.faq_block li.ac-label::before {
    position: relative;
    content: 'Q';
    display: inline-block;
    margin-right: 2rem;
    text-align: center;
    background: #5fbbd0;
    width: 3.8rem;
    font-family: "Courgette";
    font-size: 2.3rem;
    line-height: 3.8rem;
    color: #fff;
}
@media screen and (max-width: 768px),print  {
    section.faq .lg_contain ul.faq_block li.ac-label::before {
        position: absolute;
        left: 1rem;
        top: 1.8rem;
        width: 3rem;
        line-height: 3rem;
        font-size: 2rem;
        margin: 0;
    }
}

section.faq .lg_contain ul.faq_block li.ac-content::after {
    content: "";
    background-image: linear-gradient(to right, #000, #000 1px, transparent 2px, transparent 4px);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3rem;
    right: 3rem;
}

@media screen and (max-width: 768px),print  {
section.faq .lg_contain ul.faq_block li.ac-content::after {
    content: "";
    background-image: linear-gradient(to right, #000, #000 1px, transparent 2px, transparent 4px);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1rem;
    right: 1.5rem;
}
}


section.faq .lg_contain ul.faq_block li.ac-label p {
    display: inline-block;
    font-family: Noto Sans JP;
    font-size: 2rem;
    font-weight: 500;
}

@media screen and (max-width: 768px),print  {
    section.faq .lg_contain ul.faq_block li.ac-label p {
        font-size: 1.5rem;
    }
}


.ac-label  {
    cursor: pointer;
    position: relative;
    width: 100%;
    background: #ffffff;
    padding: 1.8rem 3rem;
    color: #5fbbd0;
}
.ac-content {
    display: none;
    position: relative;
    width: 100%;
    background: #ffffff;
    padding: 2rem 1.5rem 3rem 0rem;
    font-family: Noto Sans JP;

}
/* .ac-labelを親要素としてアイコン位置を絶対値で指定 */
.icon-wrap {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translatey(-50%);
    width: 38px;
    height: 38px;
}

/* .ac-labelを親要素としてアイコン位置を絶対値で指定 */
@media screen and (max-width: 768px),print  {
.icon-wrap {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translatey(-50%);
    width: 38px;
    height: 38px;
}
}
/* .icon-wrapの中でプラスを中央に位置させるために.iconを親要素に設定 */
.icon {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
/* プラスアイコン */
/* ２本の線を.icon-wrapの中央に並行に重ねる */
.icon:before,
.icon:after {
    position: absolute;
    content: "";
    display: block;
    transition: all 0.4s;
    background: #5fbbd0;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 1px;
    transform: translate(-50%, -50%);
}
/* そのうち1本を縦にする */
.icon:before {
    transform: translate(-50%, -50%) rotate(90deg);
}

/* プラスアイコンクリック後、マイナスにする */
.icon.open:before {
    transform: translate(-50%, -50%) rotate(0deg);
}



@media screen and (max-width: 768px),print  {
    section.faq .lg_contain ul.faq_block li.ac-label {
        padding: 2rem 5rem 2rem 5rem;

    }
}

section.faq .lg_contain ul.faq_block li.ac-content {
    display: none;
    position: relative;
    width: 100%;
    background: #ffffff;
    padding: 2rem 3rem 3rem 3rem;
    font-family: Noto Sans JP;
    
}

section.faq .lg_contain ul.faq_block li.ac-content p {
    display: inline-block;
    font-family: Noto Sans JP;
    font-size: 1.5rem;
}
@media screen and (max-width: 768px),print  {
    section.faq .lg_contain ul.faq_block li.ac-content p  {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px),print  {
    section.faq .lg_contain ul.faq_block li.ac-content {
        padding: 1rem 1rem 1.5rem 1rem;

    }
}


/*----------------------------------------
contact
----------------------------------------*/
section.contact h3.section_title {
    color: #5fbbd0;
}

section.contact h3.section_title div.section_subtitle{
    color: #2f2f2f;
}
.flex_contact{
    display: flex; /* flexbox */
    gap: 0px; /* 余白 */ 
}

@media screen and (min-width: 768px) {
.flex_contact{
    height: 145px;
    margin-top:-20px;

    }
}

.flex_contact__line{
  width: 50%;
  background: #00cc5c;
   color: #ffffff;
    border: none;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: Noto Sans JP;
    cursor: pointer;
    padding: 10px;
    border: none;
    object-fit: contain;
}
@media screen and (max-width: 768px),print {
.flex_contact__line{
    font-size: 1.5rem;
}
}
.flex_contact__mail{
    width: 50%;
    background-color: #a4cfaf;
    color: #ffffff;
    font-size: 2.5rem;
    font-family: Noto Sans JP;
    cursor: pointer;
    border: none;
    padding: 10px;
    object-fit: contain;
}

@media screen and (max-width: 768px),print {
    .flex_contact__mail{
        font-size: 1.5rem;
    }
}
.flex_contact__line img{
    width: 10%;
    padding: 10px;
    display: inline-block;
    vertical-align : middle;
}
.flex_contact__mail img{
    width: 10%;
    padding: 10px;
    display: inline-block;
    vertical-align : middle;
}

@media screen and (max-width: 768px),print  {
    .flex_contact__line img{
        width: 20%;
        padding: 5px;
    
    }
}
@media screen and (max-width: 768px),print  {
    .flex_contact__mail img{
        width: 20%;
        padding: 5px;
    }
}

/*----------------------------------------
footer
----------------------------------------*/
footer {
    position: relative;
    width: 100%;
    background-color: #000;
    color: #fff;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-family: Noto Sans JP;
    padding-bottom: 2rem;
}

.firm_label{
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Noto Sans JP';
    text-align: left;
    
}
@media screen and (max-width: 768px),print {
    .firm_label{
        font-size:2rem;
        display: block;
        text-align: center;
    }
}

.flex_footer__company{
    flex-grow: 2;
    border: none;
    text-decoration: none;
    white-space: nowrap;
}
@media screen and (max-width: 768px),print {
    .flex_footer__company{
        font-size: 1.5rem;
        margin: 5rem 0;
    }
}
.flex_footer__address{
    flex-grow: 2;
    font-size: 1.5rem;
    white-space: nowrap;
    border: none;
    text-decoration: none;
}

@media screen and (max-width: 768px),print {
.flex_footer__address{
        font-size: 1.3rem;
        white-space: nowrap;
        display: block;
        text-align: center;
    }
}
.flex_footer{
    padding: 7rem 0 3rem;
    display: flex; /* flexbox */
    gap: 80px; /* 余白 */
}

@media screen and (max-width: 768px),print {
    .flex_footer{
        padding: 5rem 0 3rem;
        display: flex; /* flexbox */
        position: relative;
        flex-direction: column;
        align-items: center;
        
    }
}
  
svg#footer_logo {
    width: 120px;
    fill: #ffffff;
    padding-top: 10px;
    display: block;
    padding-bottom: 0px;
}
@media screen and (max-width: 768px),print {
    svg#footer_logo {
        width: 35%;
        fill: #ffffff;
        padding-top: 10px;
        display: block;
        margin: auto;
    }
  
}
.footer-company{
    font-size: 1.2rem;
    padding: 50px;
}

@media screen and (max-width: 768px),print {
    .footer-company{
        font-size: 1.2rem;
        padding: 30px;
        border-bottom: solid 1px #c9c9c9;
        width: 100%;
        text-align: center;
        
    }
    
    }

.footer-copyright{
    font-size: 1.2rem;
    margin-bottom: 50px;
    padding-top: 50px;
    color: #c9c9c9;
}


@media screen and (max-width: 768px),print {
    .footer-copyright{
        font-size: 1.2rem;
        padding-bottom: 50px;
        padding-top: 20px;
        color: #c9c9c9;
    }

}

.flex-copyright{
    display: flex; /* flexbox */
    justify-content:space-between;
    
}




